<div class="wrapper mat-elevation-z8">
  <mat-card>
    <form [formGroup]="loginForm" class="card-form" (ngSubmit)="onSubmit()" novalidate>
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-title">Ingresar...</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <a routerLink="/registrar">Puedes abrir una cuenta aqui
            <mat-icon style="color: #3f51b5">account_circle</mat-icon>
          </a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width-field" floatPlaceholder="auto">
          <input formControlName="username" type="text" matInput placeholder="Email">
          <mat-error *ngIf="loginForm.controls['username'].hasError('pattern')">
            Por favor ingreso un Email valido
          </mat-error>
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
            Email es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-field" floatPlaceholder="auto">
          <input formControlName="password" type="password" matInput placeholder="Password">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
            Password debera tener <strong>minimo 8 caracteres</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="mat-card-actions-btns">
          <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Enviar</button>
          <button type="reset" (click)="reset()" mat-raised-button>Reset</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>