.container {
  display : flex;
}
.icono {
  width : 100px;
  //border-radius: 50%;
  img {
    max-width : 100%;
  }
}
.spacer {
  flex : 1 1 auto;
}
.space100vh {
  height : 100vh;
}
.flex-column {
  display        : flex;
  flex-direction : column;
}